/* Root variables for theming */
:root {
  --background-color-primary: var(--base-color-neutral--white, #fff);
  --text-color-primary: var(--base-color-neutral--black, #333);
  --link-color-primary: var(--base-color-brand--patlitics-green, #57dc2f);
  --font-family-body: "Switzer Variable", Arial, sans-serif;
  --font-size-body: 14px;
  --line-height-body: 20px;
  --border-radius-small: var(--round-corners--small, 6px);
  --border-color-primary: var(--base-color-neutral--neutral-light, #a3a1a1);
}

/* App Container */
.app-container {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-items: stretch */
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust as needed */
}

/* Response Container */
.response-container {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--background-color-primary);
  border-radius: var(--border-radius-small);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
  max-width: 400px;
}

.response-content {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--text-color-primary);
}